

.resimSl{
    height: 500px;
}

body {
    padding-top:50px;
}
    
.container img {
    width: 20px;
    margin-top: -110px;
}
.hakkimizda{
    background-color: #f2f2f2;

}

.galeri{
   background-color: #f2f2f2;
}
.figure{
    background-color: #f2f2f2;
}
.figure:hover{
    opacity: 0.8;
}